/* Estilos globais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Classe para formatação de texto principal */
  .titulo {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
  }
  
  /* Classe para formatação de texto secundário */
  .descricao {
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
  }
  
  .imagem-circular {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 20px auto;
    overflow: hidden;
  }
  
  .imagem-circular img {
    width: 100%;
    height: auto;
  }
  